# dbt artifacts
target/
dbt_packages/
dbt_internal_packages/
dbt_modules/
logs/
package-lock.yml

# Python
.venv/
.venv_old/
venv/
env*/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.tox/
.mypy_cache/
.ruff_cache/

# dbt credentials & user settings
.user.yml
profiles.yml
.env

# IDE & OS
.vscode/
.DS_Store
Thumbs.db

# DuckDB local testing
*.duckdb
*.duckdb.wal
